<manifest package="com.niles.jpush"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="${JPUSH_PKGNAME}"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
